h1{
    font-family: 'moon';
    color: white;
    margin-top: 3%;
    font-size: 36px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-hold{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new-duck, .return-duck{
    margin-top: 20%;
    height: 60px;
    width: 300px;
    border-radius: 30px;
    background-color: transparent;
    border-color: white;
    border-style: solid;
}

.new-duck:hover, .return-duck:hover{
    background-color: white;
    color: #6600aa;
}

.new-duck:active, .return-duck:active{
    background-color: white;
    color: #6600aa;
}

p{
    font-family: "moon";
    color: white;
    font-size: 24px;
}

.home-page{
    margin-top: 6%;
}

#new-name{
    width: 50%;
    border-radius: 25px;
}

.field-holder{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.quack{
    margin-top: 15%;
}