.option-hold{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#food-option{
    border-style: solid;
    border-color: white;
    border-radius: 30px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin-top: 15%;
    color: white;
    font-size: 24px;
}

@media only screen and (max-width: 400px){
    #food-option{
        border-style: solid;
        border-color: white;
        border-radius: 30px;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 250px;
        margin-top: 15%;
        font-size: 18px;
    }
}